html, body {
  background-color: #090A0C !important;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}